*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat Alternates',sans-serif;
    background-color: #e2ded2;
} 
ul li{
    list-style: none;
}
.family-Play-Dis{
    font-family: 'Playfair Display';
} 
.family-mon-fxbold{
    font-family: 'montserrat extrabold';
}
.family-Josefin-Slab{
    font-family: 'Josefin Slab';
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
a{
    transition: all 0.5s ease-in-out;
} 
a:hover{
    text-decoration: none;
}
.bg-Tiger-Orange{
    background-color: #c87e6b;
}
.fff{
    color: #fff;
}
.text-484a4b{
    color: #484a4b;
}
.text-765a33{
    color: #765a33;
}
.text-c87e6b{
    color: #c87e6b;
}
.text-424242{
    color: #424242;
}
.text-e2ded2{
    color: #e2ded2;
}
.bg-787878{
    background-color: #787878;
}
.bg-ddc57c{
    background-color: #ddc57c;
}
.bg-c87e6b{
    background-color: #c87e6b;
}
.bg-454545{
    background-color: #454545;
}
.bg-424242{
    background-color: #424242;
}
.bg-765a33{
    background-color: #765a33;
}
.bg-e2ded2{
    background-color: #e2ded2;
}
.flower-hesder .flower-menu li a{
    font-size: 10px;
    font-weight: 700;
}
.navbar-expand-lg .navbar-nav .nav-item{
    padding: 0px 12px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 25px 4px;
    color: #fff;
    letter-spacing: 1px;
}
.menu-pro-sop i{
    padding: 0px 12px 0px 12px;
    font-size: 18px;
}
.menu-pro-sop i:last-child{
    padding: 0px 0px 0px 12px;
}
.navbar-expand-lg .navbar-nav .sign-in{
    padding: 8px 15px;
    border: 2px solid #fff;
    border-radius: 34px;
}
.navbar-expand-lg .navbar-nav .sign-in:hover{
    background-color: #484a4b;
    border-color: #484a4b;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #484a4b;
}
.navbar-expand-lg .header-menu .nav-item .sign-in:hover{
    color: #fff;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 100%);
}
.header-menu .nav-item .nav-link:hover{
    color: #484a4b;
}
.menu-pro-sop i{
    cursor: pointer;
}
h2{
    font-weight: bold; 
    font-size: 42px;   
    letter-spacing: 1px;
}
h4{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.hero-img img{
    width: 100%;
}
.hero-heder-text p i{
    font-size: 6px;
}
.hero-heder-text .p-sub-hedig{
    font-weight: 800;
}
.hero-heder-text .p-lorem{
    font-size: 18px;
    font-weight: 500;
}
.border-red-30{
    border-radius: 30px;
}
.btn-css-my{
    padding: 5px 20px;
}
.text-btn-a a{
    font-weight: 600;
    font-size: 14px;
}
.shop-a:hover,.send-messages:hover{
    color: #fff;
}
.read-more-a:hover{
    color: #787878;
}
.shop-a{
    border: 2px solid #787878;
}
.read-more-a{
    border: 2px solid transparent;
}
.pulse:hover, .pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 20px transparent;
  border: 2px solid #787878;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #787878; border: 2px solid #787878; }
}
.pad-70-t-b{
    padding: 70px 0px;
}
.pack-all{
    font-weight: 500;
}
.pad-40px-tb{
    padding: 40px 0px;
}
.mar-48px-tb{
    margin: 48px 0px;
}
.pad-15-lr{
    padding: 15px 15px;
}
.pro-ditels{
    padding: 5px 20px 20px 20px;
}
.pro-ditels p{
    font-size: 10px;
    font-weight: 600;
}
.pro-ditels a{
    font-size: 10px;
    font-weight: 600;
    padding: 3px 10px;
}
.pro-ditels a:hover{
    color: #fff;
}
.box-shadow{
    box-shadow: 0px 0px 20px rgb(101 101 101 / 20%);
}
.slider-css .owl-carousel .owl-nav button.owl-next,.slider-css .owl-carousel .owl-nav button.owl-prev{
    padding: 0px 17px !important;
    background-color: #bcbcbc;
    border-radius: 100%;
    outline: none;
    transition: 0.5s;
    margin: 20px;
}
.slider-css .owl-carousel .owl-nav button.owl-next span,.slider-css .owl-carousel .owl-nav button.owl-prev span{
    font-size: 30px;
    font-weight: 700;
}
.slider-css .owl-carousel .owl-nav button.owl-next:hover,.slider-css .owl-carousel .owl-nav button.owl-prev:hover{
    background-color: #454545;
}
.slider-css .owl-carousel .owl-nav button.owl-next:focus,.slider-css .owl-carousel .owl-nav button.owl-prev:focus{
    background-color: #454545;
    color: #fff;
}
h5{
    font-weight: 600;
}
.w-85{
    width: 85%;
}
.how-video img{
    width: 100%;
    /* background-blend-mode: screen;    */
} 
.bg-offer-img img{
    width: 100%;
}
.bg-video{
    position: relative;
   
}
.bg-mode-img{
    position: relative;
    background-color: rgb(235 177 19/ 10%);
    background-image: url(../img/bg-video.jpg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-blend-mode: screen;
}
.bg-befor-aft::before{
    position: absolute;
    content: '';
    width: 200px;
    height: 200px;
    background-color: #765a33;
    left: -20px;
    z-index: -1;
    bottom: -20px;
}
.bg-befor-aft::after{
    position: absolute;
    content: '';
    width: 350px;
    height: 250px;
    border: 4px solid #765a33;
    right: -20px;
    z-index: -1;
    top: -20px;
}
.video-icon{
    height:50px;
    width: 50px;
    border: 2px solid #fff;
    left: 50%;
    border-radius: 50px;
    top: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
}
.btn-padd{
    padding: 5px 25px;
}
.offer-btn a{
    background-color: #424242;
    font-weight: 700;
    font-size: 20px;
    color: #e7e4db;
}
.offer-btn h2{
    font-size: 120px;
    font-weight: 900;
    line-height: 100px;
}
.offer-btn h3{
    font-weight: 600;
}
.bg-befor-aft222::before,.bg-befor-aft222-left-right::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 100px;
    background-color: #c87e6b;
    z-index: -1;
    top: -20px;
}
.bg-befor-aft222::before{
    right: -18px;
}
.bg-befor-aft222::after{
    left: -30px;
}
.bg-befor-aft222-left-right::before{
    left: -18px;
}
.bg-befor-aft222-left-right::after{
    right: -30px;
}

.bg-befor-aft222::after,.bg-befor-aft222-left-right::after{
    position: absolute;
    content: '';
    border: 3px solid #c87e6b;
    width: 200px;
    height: 200px;
    z-index: -1;
    bottom: -30px;
}
.bg-mode-img11,.bg-mode-img2222,.bg-mode-img3333{
    background-color: rgb(235 177 19/ 10%);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}
.bg-mode-img11{
    background-image: url(../img/bg1111.jpg);
    background-position: center center;
}
.bg-mode-img2222{
    background-image: url(../img/bg2222.jpg);
    background-position: bottom;
}
.bg-mode-img3333{
    background-image: url(../img/bg-3333.jpg);
    background-position: right;
}
.png-flower-img img{
    width: 35%;
}
.user-detalis input,.user-detalis textarea{
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: 1.5px solid #b0b0b0;
    padding: 5px 25px;
}
.user-detalis .input-box input::placeholder,.user-detalis textarea::placeholder{
    color: #bdbdbd;
}
.footer-h3 h3{
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 24px;
}
.footer-mex ul li a{
    font-size: 16px;
}
.footer-mex ul li a:hover{
    color: #c87e6b;
}
.footer-icon i{
    font-size: 20px;
    border: 3px solid #fff;
    border-radius: 100%;
    height: 40px;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
}
.pad-70px-tb{
    padding: 70px 0px;
}
.follw-us h4{
    font-weight: 600;
}
.bg-black-png-img{
    background-image: url(../img/cloud_bg.png);
    width: 100%;
    background-position: center,center;
    background-size: cover;
}
.offer-btn h2 img,.otp-slider img{
    width: 10%;
}
.otp-slider img{
    width: 9%;
    height: 9%;
}
.flower-7 img{
    width: 30%;
    top: 70%;
    left: -7%;
}
.flower-7 img,.flower-8-2,.flower-9-2,.flower-10,.flower-11{
    position: absolute;
}
.flower-8 .flower-8-2,.flower-9-2,.flower-10,.flower-11{
    width: 15%;
}
.flower-8 .flower-8-2{
    left: -7%;
}
.flower-8 .flower-9-2{
    right: -7%;
    bottom: 0%;
}
.overflow-hidden{
    overflow: hidden;
}
.flower-10{
    right: -6%;
    bottom: 0%;
}
.flower-11{
    left: -6%;
    bottom: 0%;
}

